<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>智慧程后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {include file="inccss" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        @media (min-width: 992px) {
            .col-md-6 {
                width: 100%;
            }
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
        <header class="main-header">
            {include file="header" /}
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            {include file="leftmenu" /}
        </aside>
        <!-- 管理员列表页 -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    学校详情
                    <!-- <small>Preview</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i> 首页</a>
                    </li>
                    <li>
                        <a href="schoolList.html"> 学校</a>
                    </li>
                    <li class="active">学校详情</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="nav-tabs-custom">
                       <ul class="nav nav-tabs">
                         <li class="active"><a href="#baseinfo" data-toggle="tab">基本信息</a></li>
                         <li><a href="#terminfo" data-toggle="tab">学期信息</a></li>
                         <li><a href="#classinfo" data-toggle="tab">教室信息</a></li>
                         <li><a href="#peizhi" data-toggle="tab">配置信息</a></li>
                       </ul>
                       <div class="tab-content">
                         <div class="active tab-pane" id="baseinfo">
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleUserName">学校id：</label>{$baseinfo.id}
                                    </div>
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleUserName">学校名称：</label>{$baseinfo.names}
                                    </div>
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleNumber">所在省：</label>{$baseinfo.proname}
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span>注册时间：</span>
                                            <span style="font-weight:normal;">{$baseinfo.instime}</span>
                                        </label>

                                    </div> 
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleNumber">学校网址：</label>{$baseinfo.logourl}
                                    </div>
                                    
                         </div>    
                         <div class="tab-pane" id="terminfo">  
                                    
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>序列</th>
                  <th>学年</th>
                  <th>学期名称</th>
                  <th>开始日期</th>
                  <th>结束日期</th>
                  <th>是否当前学习</th>
                  <th>录入时间</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                   <th>1</th>
                   <th>2017</th>
                   <th>第一学期</th>
                   <th>2017-9</th>
                   <th>2018-2</th>
                   <th>是</th>
                   <th>2017-12-22</th>
                  </tr>
                  <tr>
                   <th>2</th>
                   <th>2017</th>
                   <th>第二学期</th>
                   <th>2018-3</th>
                   <th>2018-7</th>
                   <th>否</th>
                   <th>2017-12-22</th>
                  </tr>
                          
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
                         </div>
                         <div class="tab-pane" id="classinfo">
                                    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>序列</th>
                  <th>教室名称</th>
                  <th>教室位置</th>
                  <th>教室容量</th>
                  <th>教室类型</th>
                  <th>录入时间</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                   <th>1</th>
                   <th>201</th>
                   <th>6号教学楼2层</th>
                   <th>100人</th>
                   <th>普通教室</th>
                   <th>2017-12-22</th>
                  </tr>
                  <tr>
                   <th>2</th>
                   <th>202</th>
                   <th>6号教学楼2层</th>
                   <th>100人</th>
                   <th>普通教室</th>
                   <th>2017-12-22</th>
                  </tr>
                  <tr>
                   <th>3</th>
                   <th>308</th>
                   <th>6号教学楼3层</th>
                   <th>200人</th>
                   <th>会议室</th>
                   <th>2017-12-22</th>
                  </tr>
                          
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
                         </div>
                         <div class="tab-pane" id="peizhi"> 
                                    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>序列</th>
                  <th>配置类型</th>
                  <th>配置值</th>
                  <th>序号</th>
                  <th>录入时间</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                   <th>1</th>
                   <th>上午上课节数</th>
                   <th>5节</th>
                   <th>10</th>
                   <th>2017-12-22</th>
                  </tr>
                  <tr>
                   <th>2</th>
                   <th>下午午上课节数</th>
                   <th>6节</th>
                   <th>10</th>
                   <th>2017-12-22</th>
                  </tr>
                  <tr>
                   <th>3</th>
                   <th>学校上课天数</th>
                   <th>7天</th>
                   <th>10</th>
                   <th>2017-12-22</th>
                  </tr>
                 
                          
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
                         </div>
                       </div>         
                    </div>      
                  </div> 
                </div>               
            </section>
        </div>
    <!-- /.content-wrapper -->
    {include file="footer" /}
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
     <div class="control-sidebar-bg"></div>
</div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    {include file="incjs" /}
    <!-- page script -->
    <script>
        $(function () {
            // 当前下拉效果
            $(".treeview").eq(1).addClass('active').siblings().removeClass('active');
            $(".treeview").eq(1).addClass('menu-open').siblings().removeClass('menu-open');
            $(".treeview").eq(1).children('.treeview-menu').children('li').eq(0).addClass('active').siblings().removeClass(
                'active');
            //Initialize Select2 Elements
            $('.select2').select2();

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })
        })
    </script>
</body>

</html>