<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>智慧程后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {include file="inccss" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            {include file="header" /}
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            {include file="leftmenu" /}
        </aside>
        <!-- 管理员列表页 -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    资讯列表
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i> 首页</a>
                    </li>
                    <li class="active">资讯列表</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="nav-tabs-custom">
                       <ul class="nav nav-tabs">
                         <li class="active"><a href="#baseinfo" data-toggle="tab">普通资讯</a></li>
                         <li><a href="#terminfo" data-toggle="tab">视频资讯</a></li>                    
                       </ul>
                       <div class="tab-content">
                         <div class="active tab-pane" id="baseinfo">  
                                    
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body">
              
              <div class="row">
               <form action="/index/information/informationlist" method="get" >   
		        <div class="col-md-6"  >
			          <div class="form-group">
                        <label>按类型搜索</label>
                        <select class="form-control select2" style="display: inline-block;width:100%;"  tabindex="-1" aria-hidden="true" name="select">
                         <option selected="selected" value=0>请选择</option>
                         <?php foreach($list as $k=>$v){?>
                                          <option value="<?php echo $v['id']?>" <?php if(!empty($select)){if($v['id']==$select){echo 'selected="selected"';}}?>><?php echo $v['name']?></option>
                                        <?php }?>                    
                        </select>
                      </div>
		        </div>

		        <div class="col-md-5" >
			          <div class="form-group">
                        <label>按标题搜索</label>
                        <input type="text" class="form-control" name="biaoti" placeholder="请输入标题关键字" value="<?php if(!empty($biaoti)){echo $biaoti;}?>">
                      </div>
		        </div>
                <div class="col-md-1" >
			          <div class="form-group">
                        <label>搜索</label>
                        <button type="submit" class="btn btn-block btn-success">搜索</button>
                      </div>
		        </div>
                
               <form>
	          </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>序列</th>
                  <th>资讯类型</th>
                  <th>资讯标题</th>
                  <th>资讯简介</th>
                  <th>点击量</th>
                  <th>录入时间</th>
                  <th>是否发布</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                 <?php if(!empty($lists)){
                     foreach($lists as $k=>$v){?>
                         <tr>
                           <th><?php echo $k+1;?></th>
                           <th width="7%"><?php echo $v['typename'];?></th>
                           <th width="13%"><font color='blue'><?php echo $v['titles'];?></font></th>
                           <th width="45%"><?php echo $v['intro'];?></th>
                           <th ><?php echo $v['clicks'];?></th>
                           <th><?php echo $v['instime'];?></th>
                           <th><?php if($v['ispush']==1){ echo "<font color='red'>已发布</font>";}else{echo "<font color='green'>未发布</font>";}?></th>
                           <th><a href="/index/information/infodetail?id=<?php echo $v['id']?>">预览</a>   |   <a href="/index/information/infomodify?id=<?php echo $v['id']?>">修改</a>   |   <a href="#" class="remove" value="<?php echo $v['id'];?>">删除</a>   |   <a href="#" class="push" value="<?php echo $v['id'];?>">发布</a><input type="hidden" value="<?php echo $v['ispush'];?>"></th>
                         </tr>                  
                 <?php }}?>
                  
                 

                          
                </tbody>
              </table>
              <div id="fenye">{$lists->render()}</div>
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
                         </div>   
                         <div class="tab-pane" id="terminfo">  
                                    
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>序列</th>
                  <th>资讯类型</th>
                  <th>视频标题</th>
                  <th>录入时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                   <th>1</th>
                   <th>传统文化讲座</th>
                   <th>仁民爱物</th>
                   <th>2017-12-22</th>
                   <th><a href="#">详情</a>   |   <a href="#">修改</a>   |   <a href="#">删除</a></th>
                  </tr>
                  
                          
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
                         </div>
                         
                       </div>         
                    </div>      
                  </div> 
                </div>               
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {include file="footer" /}
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    {include file="incjs" /}
    <script>
        $(function () {
            // 当前下拉效果
            $(".treeview").eq(3).addClass('active').siblings().removeClass('active');
            $(".treeview").eq(3).addClass('active').siblings().removeClass('active');
            $(".treeview").eq(3).addClass('menu-open').siblings().removeClass('menu-open');
            $(".treeview").eq(3).children('.treeview-menu').children('li').eq(0).addClass('active').siblings().removeClass(
                'active');
            //Initialize Select2 Elements
            $('.select2').select2()

            
           
            $(".remove").click(function(){
        
             if(confirm("确定要删除吗？"))
                {
                  var id= $(this).attr('value');
                   $.post("/index/information/delnews",{id:id},function(data){
                      if(data.status==1){
                        alert(data.msg);
                        window.location.href = "/index/information/informationlist";
                      }else{
                        alert(data.msg);
                      }
                  })
                }
               
            })
			$(".push").click(function(){
				
				if(confirm("确定要发布了吗？"))
                {
                  var ids= $(this).attr('value');
				  var status=$(this).next().val();
                   console.log(ids);
				   if(status==1){
					   alert("此资讯已发布！");
					   }else{
						   $.post("/index/information/pushnews",{id:ids},function(data){
                              if(data.status==1){
						        alert(data.msg);
						        window.location.href = "/index/information/informationlist";
					          }else{
						        alert(data.msg);
						      }
                             })
						   
						   }
                   
                }
               
            })
            
        })
		
    </script>
</body>

</html>