<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>智慧程后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {include file="inccss" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        table.dataTable thead .sorting:after {
            /*opacity: 0.2;*/
            /*content: "\e150";*/
            opacity: none;
            content: none;
        }

        table.dataTable thead .sorting:nth-child(4):after {
            opacity: 0.2;
            content: "\e150";
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            {include file="header" /}
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            {include file="leftmenu" /}
        </aside>
        <!-- 管理员列表页 -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    管理员
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i> 首页</a>
                    </li>
                    <li class="active">管理员</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">管理员名单</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>管理员ID</th>
                                            <th>姓名</th>
                                            <th>账号</th>
                                            <th>录入时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name='data' id='ainfo'}
                                        <tr>
                                            <td class="ids">{$ainfo.id}</td>
                                            <td>{$ainfo.names}</td>
                                            <td>{$ainfo.username}</td>
                                            <td>{$ainfo.instime}</td>
                                            <td>
                                                <?php if($ainfo['id']==$sessionid){     
                                                
                                                ?>
                                                  <a href="adminDetail.html?id={$ainfo.id}">详情</a>&nbsp;&nbsp;
                                                <?php }else{?>
                                                  <a href="adminDetail.html?id={$ainfo.id}">详情</a>&nbsp;&nbsp;
                                                  <a href="#" class="removeBtn">删除</a>
                                                <?php }?>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Rendering engine</th>
                                            <th>Browser</th>
                                            <th>Platform(s)</th>
                                            <th>Engine version</th>
                                            <th>CSS grade</th>
                                        </tr>
                                    </tfoot> -->
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {include file="footer" /}
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {include file="incjs" /}
    <!-- page script -->
    <script>
        $(function () {
            // 当前下拉效果
            $(".treeview").eq(5).addClass('active').siblings().removeClass('active');
            $(".treeview").eq(5).addClass('menu-open').siblings().removeClass('menu-open');
            $(".treeview").eq(5).children('.treeview-menu').children('li').eq(0).addClass('active').siblings().removeClass(
                'active');
            // 表格
            $('#example1').DataTable({
                'language': {
                    'emptyTable': '没有数据',
                    'loadingRecords': '加载中...',
                    'processing': '查询中...',
                    'search': '搜索:',
                    'lengthMenu': '每页 _MENU_ 件',
                    'zeroRecords': '没有数据',
                    'paginate': {
                        'first': '第一页',
                        'last': '最后一页',
                        'next': '下一页',
                        'previous': '上一页'
                    },
                    'info': '第 _PAGE_ 页 / 总 _PAGES_ 页',
                    'infoEmpty': '没有数据',
                    'infoFiltered': '(过滤总件数 _MAX_ 条)'
                }
            });

            // 删除
            $(".removeBtn").click(function(){
				
				if(confirm("确定要删除吗？"))
                {
                  var ids= $(this).parent("").siblings(".ids").html();
                   console.log(ids);
                   $.post("/index/system/admindel",{id:ids},function(data){
                    if(data.status==1){
						alert(data.msg);
						 window.location.href = "/index/system/index";
					 }else{
						 alert(data.msg);
						 }
                    })
                }
               
            })

        })
    </script>
</body>

</html>