<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>智慧程后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {include file="inccss" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<?php $data=array();?>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            {include file="header" /}
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            {include file="leftmenu" /}
        </aside>
        <!-- 管理员列表页 -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    绑定用户
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i> 首页</a>
                    </li>
                    <li class="active">绑定用户</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">学生列表</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>优生涯账号</th>
                                            <th>微信openid</th>
                                            <th>用户类型</th>
                                            <th>添加时间</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        <?php foreach($lists as $k=>$v){?>
                                           <tr>
                                            <td><?php echo $k+1?></td>
                                            <td><?php echo $v['user_login_name']?></td>
                                            <td><?php echo $v['openid']?></td>
                                            <td><?php if($v['channel']==1){echo "学生";}elseif($v['channel']==2){echo "老师";}else{echo "家长";}?></td>
                                            <td><?php echo date('Y-m-d:H-i-s',$v['instime'])?></td>
                                           
                                           </tr>
                                                        
                                        <?php }?>
                                        
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Rendering engine</th>
                                            <th>Browser</th>
                                            <th>Platform(s)</th>
                                            <th>Engine version</th>
                                            <th>CSS grade</th>
                                        </tr>
                                    </tfoot> -->
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {include file="footer" /}
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    {include file="incjs" /}
    <script>
        $(function () {
            // 当前下拉效果
            $(".treeview").eq(6).addClass('active').siblings().removeClass('active');
            $(".treeview").eq(6).addClass('menu-open').siblings().removeClass('menu-open');
            $(".treeview").eq(6).children('.treeview-menu').children('li').eq(0).addClass('active').siblings().removeClass(
                'active');
            //Initialize Select2 Elements
            $('.select2').select2()

           
            
        })
    </script>
</body>

</html>