<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>智慧程后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {include file="inccss" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        @media (min-width: 992px) {
            .col-md-6 {
                width: 100%;
            }
        }

        .form-control {
            display: inline-block;
            width: 80%;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            {include file="header" /}
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            {include file="leftmenu" /}
        </aside>
        <!-- 管理员列表页 -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    家长详情
                    <!-- <small>Preview</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i> 首页</a>
                    </li>
                    <li>
                        <a href="parentList.html"> 家长列表</a>
                    </li>
                    <li class="active">家长详情</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">详情</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="box-body">
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleUserName">家长姓名：</label>{$data.names}
                                    </div>
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleUserName">孩子姓名：</label>{$data.child}
                                    </div>
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleNumber">账号：</label>{$data.username}
                                    </div>
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleNumber">电话：</label>{$data.mobile}
                                    </div>
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleNumber">卡号：</label>{$data.cardnum}
                                    </div>
                                    <div class="form-group" style="width: 40%;">
                                        <label for="exampleSchool">性别：</label>：<?php if($data['sex']==1){echo "男";}else{
                                        echo "女";}?>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <span>注册时间：</span>
                                            <span style="font-weight:normal;">{$data.instime}</span>
                                        </label>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->
                        
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                   
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {include file="footer" /}
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    {include file="incjs" /}
    <!-- page script -->
    <script>
        $(function () {
            // 当前下拉效果
            $(".treeview").eq(2).addClass('active').siblings().removeClass('active');
            $(".treeview").eq(2).addClass('menu-open').siblings().removeClass('menu-open');
            $(".treeview").eq(2).children('.treeview-menu').children('li').eq(2).addClass('active').siblings().removeClass(
                'active');
            //Initialize Select2 Elements
            $('.select2').select2();

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })
        })
    </script>
</body>

</html>